[Desktop Entry]
Name=Logo Menu Settings
Name[es]=Ajustes de Menú Logo
Comment=Settings application for COSMIC™ Logo Menu applet
Comment[es]=Aplicación de ajuster para el applet de COSMIC™ Menú Logo
Type=Application
Icon=dev.cappsy.CosmicExtAppletLogoMenu
Exec=cosmic-ext-logomenu-settings
NoDisplay=true
Terminal=false
StartupNotify=true
StartupWMClass=cosmic-ext-logomenu-settings
Categories=COSMIC;
Keywords=COSMIC 
