[Desktop Entry]
Type=Application
Version=1.0
Name=Install NCOS
GenericName=Live Installer
Comment=Install the operating system to disk
Exec=/usr/bin/calamares_polkit %f
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
